:root {
    /* CSS HEX */
/* CSS HEX */
--portland-orange: #f16738ff;
--gunmetal: #252c30ff;
--dark-liver-horses: #5e433aff;
--smoky-black: #16110fff;
--sky-blue: #89defdff;
--baby-blue: #8cd4f9ff;
--peach-crayola: #edc19eff;

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-page {
    padding:20px;
    opacity: 1;
    width: 600px;
    margin:auto;
    animation: .5s cubic-bezier(.53,.25,.01,.98) slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
nav {
    background-color: var(--cultured);
}
ul {
    list-style: none;
    padding: 20px;
    width:600px;
    margin:auto;
}
ul li {
    display: inline;
    margin-right: 20px;
}
li a {
    text-decoration: none;
    color: var(--gunmetal);
    font-weight: 200;
    transition: all .5s cubic-bezier(.53,.25,.01,.98);
}
li a:hover {
    color: var(--imperial-red);
    padding: 20px;
    font-weight: 600;
}
.post {
    background-color:ghostwhite;
    width: 600px;
    margin:auto;
    margin-bottom: 20px;
    border: 1px solid var(--gunmetal);
    border-radius: 5px;
}

.post .pf_header {
    margin-right: 20px;
    border-bottom: 1px solid var(--gunmetal);
    padding: 20px;
    width: 100%;
    box-sizing:border-box;
}
.pf_header img {
    margin-right: 20px;
}
.pf_header {
    display:inline-flex;
}
.pf_header img {
    border-radius: 50%;
}
.post-img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    border-bottom: 1px solid var(--gunmetal);
}
.disabled {
    display: none;
}
.post video {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    border-bottom: 1px solid var(--gunmetal);
}
.post h3 {
    font-size: 16px;
    margin-left: 15px;
}
.post textarea {
    resize: none;
    width:fit-content;
    box-sizing:border-box;
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border:none;
    background-color:ghostwhite;
}
@keyframes wipe-enter {
	0% {
		transform: translateX(-400px);
	}
	50% {
		transform: translateX(0);
	}
}
form  {
    list-style: none;
}
input, select {
    width: 50% ;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  textarea {
    resize: none;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }